:host{
    margin-top: 50px;
    display: block;
}

.loading{
    display: block;   
    background-color: lightgray;
    text-align: center;
    padding: 30px 0;
    color: white;
    font-variant-caps: small-caps;
    font-size: 28px;
}